= form_tag log_in_requests_path, class: 'form-inline' do
  %div.input-append
    = text_field_tag :email, '', autofocus: true, placeholder: 'Your email address'
    = button_tag "Submit", type: 'submit', class: 'btn btn-primary'
