%p Hi there,

%p Please click on the URL below to finish logging into Diddleberry:

%p=link_to user_sessions_url(@email.confirmation_token), user_sessions_url(@email.confirmation_token)

%p Thank you!
