/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require flatstrap/bootstrap
 *= require_self
 *= require_tree .
 */

// $font-family: 'Quando', 'Georgia', serif;
// $font-size: 24px;

body {
  margin: 100px 0;
}
a.log-out {
  font-size: 13px;
}

.email-remove {
  float: none;
  font-size: 16px;
  color: red;
  opacity: 0.4;
  &:hover {
    opacity: 1;
    color: red;
  }
}

// body {
//   font-family: $font-family;
//   font-size: $font-size;
//   line-height: 150%;
// }
// #wrapper {
//   width: 350px;
//   margin: 200px auto;
// }
// input {
//   font-family: $font-family;
//   font-size: $font-size;
//   padding: 5px;
// }
// input[type=text] {
//   padding-left: 0;
//   padding-right: 0;
//   border: 0;
//   border-bottom: 1px dashed #999;
//   outline: none;
//   width: 100%;
// }
// input[type=submit] {
//   display: none;
// }
// .log-out {
//   color: blue;
//   font-size: 16px;
// }
// .notice {
//   background: #DFF0D8;
//   padding: 10px;
// }
