<!DOCTYPE html>
<!--
Made by:
#Colossal
       .d8888b.   .d8888b.
      d88P  Y88b d88P  Y88b
           .d88P Y88b. d88P
888d888   8888"   "Y88888"  888  888
888P"      "Y8b. .d8P""Y8b. 888  888
888   888    888 888    888 888  888
888   Y88b  d88P Y88b  d88P Y88b 888
888    "Y8888P"   "Y8888P"   "Y88888
                                 888
                            Y8b d88P
                             "Y88P"
#roman
           .oooo.    .ooooo.
         .dP""Y88b  d88'   `8.
oooo d8b       ]8P' Y88..  .8' oooo    ooo
`888""8P     <88b.   `88888b.   `88.  .8'
 888          `88b. .8'  ``88b   `88..8'
 888     o.   .88P  `8.   .88P    `888'
d888b    `8bd88P'    `boood8'      .8'
                               .o..P'
                               `Y8P'
-->
<html>
<head>
  <title>Diddleberry</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%# javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="span4 offset4">
      <%= yield %>
    </div>
  </div>

</body>
</html>
