<!DOCTYPE html>
<html>
<head>
  <title>Diddleberry</title>
  <link href='https://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%# javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="wrapper">
    <%= yield %>
  </section>

</body>
</html>
